.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 30px;
  box-shadow: 0px -1px 10px 3px rgb(230, 230, 230);
}
.item h5 {
  height: 16px;
}
@media (min-width: 400px) {
  .item {
    width: 45%;
  }
}
@media (min-width: 800px) {
  .item {
    width: 30%;
  }
}
@media (min-width: 1100px) {
  .item {
    width: 22%;
  }
}
.widthimg {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.btn {
  width: 70px;
  height: 30px;
  cursor: pointer;
}
.item div {
  width: calc(100% - 12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.item div button {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.6);
}
.item div button:hover {
  color: rgba(0, 0, 0, 1);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.item p {
  text-align: center;
}
