.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(1200px - 40px);
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  position: relative;
}
.btn {
  position: relative;
  border: 1px solid #000;
  background: #fff;
  padding: 8px 16px;
  cursor: pointer;
}
.container-header {
  background: #f5f5f5;
  width: 100%;
}
.btn span {
  position: absolute;
  left: 60px;
  bottom: 20px;
  background: #6d6d6d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}
.animation {
  animation: identifier 0.3s ease;
}
@keyframes identifier {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
