html,
body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 6px;
  background: rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb {
  width: 6px;
  background: rgba(0, 0, 0, 0.3);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.containerItem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
  max-width: calc(1200px - 40px);
  padding: 0 20px;
}
@media (min-width: 400px) {
  .containerItem {
    justify-content: space-between;
  }
}
.animation {
  animation: identifier 0.3s ease;
}
@keyframes identifier {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}
